<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= locals[:title] %>
      </h1>
      <h2 class="subtitle">
        <%= locals[:subtitle] %>
      </h2>
    </div>
  </div>
</section>
